.thumbnail {
  border: 2px solid transparent;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: border 0.2s;
  width: 60px;
  height: 80px;
  background: #fff;
}

.thumbnail.active {
  border: 2px solid #ff2d17;
}

.thumbImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainImage {
  border: 2px solid #23232322;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  width: 100%;
  aspect-ratio: 350 / 420;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 